:root {
  --global-font-size: 14px;
  --global-line-height: 1.3em;
  --global-space: 10px;
  --font-stack: 'Iosevka', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  --mono-font-stack: 'Iosevka', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;

  --background-color: #282828;
  --font-color: #ebdbb2;
  --invert-font-color: #282828;
  --primary-color: #83a598;
  --secondary-color: #a89984;
  --error-color: #fb4934;
  --progress-bar-background: #a89984;
  --progress-bar-fill: #ebdbb2;
  --code-bg-color: #3c3836;
  --block-background-color: #3c3836;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #8ec07c;
  text-decoration: underline;
}

#header {
  margin-bottom: 0.75rem;
}

.terminal h1,
.terminal h2 {
  color: #fe8019;
}

#header h1 {
  margin-bottom: 0.5rem;
}

#header p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.section {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.section p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.section ul {
  list-style: disc;
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.section ul li {
  margin-bottom: 0.5rem;
}

.project-desc,
.project-tech,
.project-link {
  margin-top: 0.1rem;
  margin-bottom: 0;
  line-height: 1.2em;
}

.project-link {
  margin-top: 0.15rem;
}

.edu-detail,
.edu-date {
  margin-top: 0.1rem;
  margin-bottom: 0;
  line-height: 1.2em;
}

.exp-date,
.exp-desc,
.exp-tech {
  margin-top: 0.1rem;
  margin-bottom: 0;
  line-height: 1.2em;
}


